// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include "zmk-helpers/helper.h"

// Linux Unicode input method for umlauts (Ctrl+Shift+U + hex + Space)
#define OS_UNICODE_LEAD &macro_tap &kp LS(LC(U))
#define OS_UNICODE_TRAIL &macro_tap &kp SPACE
#include <zmk-helpers/unicode-chars/german.dtsi>

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include "toucan_keys.h"
#include "combos.dtsi"

#define KEYS_L   LT4 LT3 LT2 LT1 LT0 LM4 LM3 LM2 LM1 LM0 LB4 LB3 LB2 LB1 LB0
#define KEYS_R   RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS   LH1 LH0 LHx RH0 RH1 RHx

#define QUICK_TAP_MS 175

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)                                 \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; flavor = "balanced";            \
               tapping-term-ms = <280>; quick-tap-ms = <QUICK_TAP_MS>;         \
               require-prior-idle-ms = <150>; hold-trigger-on-release;         \
               hold-trigger-key-positions = <TRIGGER_POS>;)

MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS) // Left-hand HRMs.
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS) // Right-hand HRMs.

#define MAGIC_SHIFT &magic_shift LSHFT 0

ZMK_HOLD_TAP(magic_shift, bindings = <&kp>, <&magic_shift_tap>;
             flavor = "balanced"; tapping-term-ms = <200>;
             quick-tap-ms = <175>;)

ZMK_MOD_MORPH(magic_shift_tap, bindings = <&shift_repeat>, <&caps_word>;
              mods = <(MOD_LSFT)>;)

ZMK_ADAPTIVE_KEY(
    shift_repeat, bindings = <&sk LSHFT>;
    repeat {
      trigger-keys = <A B C D E F G H I J K L M N O P Q R S T U V W X Y Z>;
      bindings = <&key_repeat>;
      max-prior-idle-ms = <1200>;
      strict-modifiers;
    };)

&caps_word {
  continue-list = <UNDERSCORE MINUS BACKSPACE>;
  /delete-property/ ignore-modifiers;
};

ZMK_TRI_STATE(swapper, bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
              ignored-key-positions = <LT2 RM1 RM2 RM3 RM4>;)

// language swap in macos
ZMK_TRI_STATE(lang_swap, bindings = <&kt LCTRL>, <&kp SPACE>, <&kt LCTRL>;
              ignored-key-positions = <RB4>;)

// Linux window switcher (Alt+Tab)
ZMK_TRI_STATE(swapper_lin, bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
              ignored-key-positions = <LT2 RM1 RM2 RM3 RM4>;)

/ {
    behaviors {
        m_u: minus_underscore {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDERSCORE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <120>;
            bindings = <&mo>, <&kp>;
            display-name = "Layer-Tap";
        };

        jump_word: jump_word {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&jump_word_f>, <&jump_word_b>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sel_word: sel_word {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sel_word_f>, <&sel_word_b>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        jump_word_lin: jump_word_lin {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&jump_word_f_lin>, <&jump_word_b_lin>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sel_word_lin: sel_word_lin {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sel_word_f_lin>, <&sel_word_b_lin>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };

    macros {
        tab_forward: tab_forward {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp TAB>
                , <&macro_pause_for_release>
                , <&macro_release &kp LCTRL &kp TAB>
                ;
        };

        tab_back: tab_back {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_press &kp TAB>
                , <&macro_pause_for_release>
                , <&macro_release &kp TAB>
                , <&macro_release &kp LCTRL &kp LSHFT>
                ;
        };

        space_b: space_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LEFT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LCTRL &kp LEFT>
                ;
        };

        space_f: space_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp RIGHT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LCTRL &kp RIGHT>
                ;
        };

        jump_word_f: jump_word_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp RIGHT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LALT &kp RIGHT>
                ;
        };

        jump_word_b: word_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp LEFT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LALT &kp LEFT>
                ;
        };

        sel_word_f: sel_word_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LALT &kp RIGHT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LSHFT &kp LALT &kp RIGHT>
                ;
        };

        sel_word_b: sel_word_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LALT &kp LEFT>
                , <&macro_wait_time 5>
                , <&macro_pause_for_release>
                , <&macro_release &kp LSHFT &kp LALT &kp LEFT>
                ;
        };

        word_del: word_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp W>
                , <&macro_release &kp LCTRL>
                ;
        };

        zoom_in: zoom_in {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp PLUS>
                , <&macro_release &kp LGUI>
                ;
        };

        zoom_out: zoom_out {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp MINUS>
                , <&macro_release &kp LGUI>
                ;
        };


        // these work only on macOS
        umlaut_a: umlaut_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp A>
                ;
        };

        umlaut_o: umlaut_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp O>
                ;
        };

        // Linux-specific macros (Ctrl-based shortcuts, Compose umlauts)
        zoom_in_lin: zoom_in_lin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp PLUS>
                , <&macro_release &kp LCTRL>
                ;
        };

        zoom_out_lin: zoom_out_lin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp MINUS>
                , <&macro_release &kp LCTRL>
                ;
        };

        jump_word_f_lin: jump_word_f_lin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp RIGHT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LCTRL &kp RIGHT>
                ;
        };

        jump_word_b_lin: word_b_lin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LEFT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LCTRL &kp LEFT>
                ;
        };

        sel_word_f_lin: sel_word_f_lin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LCTRL &kp RIGHT>
                , <&macro_pause_for_release>
                , <&macro_release &kp LSHFT &kp LCTRL &kp RIGHT>
                ;
        };

        sel_word_b_lin: sel_word_b_lin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LCTRL &kp LEFT>
                , <&macro_wait_time 5>
                , <&macro_pause_for_release>
                , <&macro_release &kp LSHFT &kp LCTRL &kp LEFT>
                ;
        };

        word_del_lin: word_del_lin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp BSPC>
                , <&macro_release &kp LCTRL>
                ;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
        tri_layer_lin {
            if-layers = <7 8>;
            then-layer = <9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "mac";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  none    │  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  - / _   │  none    │
            &kp Q   &kp W   &kp F   &kp P   &kp B   &kp J   &kp L   &kp U   &kp Y   &m_u
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │   O      │  none    │
        &hml LSHFT A   &hml LCTRL R   &hml LALT S   &hml LGUI T   &kp G   &kp M   &hmr LGUI N   &hmr LALT E   &hmr LCTRL I   &hmr LSHFT O
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │ / ?      │  none    │
            &kp Z   &kp X   &kp C   &kp D   &kp V   &kp K   &kp H   &kp COMMA   &kp DOT   &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                            &mo 4      &lt 1 SPACE  &kp ENTER      MAGIC_SHIFT &lt 2 BSPC    &mo 3
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  none    │  ESC     │ TAB BACK │ TAB FWD  │ MUTE     │ ZOOM IN  │   │  ZOOM OUT│  HOME    │ PAGE DN  │ PAGE UP  │ END      │  none    │
            &kp ESC   &tab_back   &tab_forward   &kp C_MUTE   &zoom_in   &zoom_out   &kp HOME   &kp PG_DN   &kp PG_UP   &kp END
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │ WIN-SWAP │  TAB     | COPY     │ PASTE    | VOL_UP   │   │ CAPSLOCK |  LEFT    │ DOWN     │ UP       │ RIGHT    │  none    │
            &swapper   &kp TAB   &kp LG(C)   &kp LG(V)   &kp C_VOL_UP   &kp CAPS   &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │ SPACE B  │ SPACE F  │  CUT     │  UNDO    │ VOL_DOWN │   │ lang_swap│  DEL     | SEL WORD | JUMP WORD| WORD DEL │  none    │
            &space_b   &space_f   &kp LG(X)   &kp LG(Z)   &kp C_VOL_DN   &lang_swap   &kp DEL   &sel_word   &jump_word   &word_del
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                            &trans      &trans      &trans         &trans      &lt 2 BSPC     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  none    │  !       │  [       │  {       │  (       │  ?       │   │  @       │  )       │  }       │  ]       │  '       │  none    │
           &kp EXCL   &kp LBKT   &kp LBRC   &kp LPAR   &kp QMARK   &kp AT_SIGN   &kp RPAR   &kp RBRC   &kp RBKT   &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  ^       │  =       │  _       │  $       │  *       │   │  %       │  :       │  ;       │  &       │  "       │  none    │
           &kp CARET   &kp EQUAL   &kp UNDER   &kp DLLR   &kp ASTRK   &kp PRCNT   &kp COLON   &kp SEMI   &kp AMPS   &kp DQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  <       │  |       │  -       │  >       │  /       │   │  \       │  #       │  +       │  ~       │  `       │  none    │
            &kp LT   &kp PIPE   &kp MINUS   &kp GT   &kp SLASH   &kp BSLH   &kp HASH   &kp PLUS   &kp TILDE   &kp GRAVE
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                            &trans      &lt 1 SPACE      &trans         &trans      &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  none    │  7       │  5       │  3       │  1       │  9       │   │  8       │  0       │  2       │  4       │  6       │  none    │
            &kp N7   &kp N5   &kp N3   &kp N1   &kp N9   &kp N8   &kp N0   &kp N2   &kp N4   &kp N6
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  ä       │  ,       │  .       │  -       │  F11     │   │  F10     │  BSPC    │  .       │  ,       │  ö       │  none    │
            &umlaut_a   &kp COMMA   &kp DOT   &kp MINUS   &kp F11   &kp F10   &kp BSPC   &kp DOT   &kp COMMA   &umlaut_o
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  F7      │  F5      │  F3      │ F1       │  F9      │   │  F8      │  F12     │  F2      │  F4      │  F6      │  none    │
            &kp F7   &kp F5   &kp F3   &kp F1   &kp F9   &kp F8   &kp F12   &kp F2   &kp F4   &kp F6
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                            &trans      &trans      &to 5            &trans      &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        mouse {
            display-name = "MOU";
            bindings = <
                &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
                &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
                &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
                            &mkp MCLK &mkp LCLK &mkp RCLK        &trans      &trans     &trans
            >;
        };

        rs_layer {
            display-name = "RS Layer";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  none    │ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │  none    │
           &sys_reset   &trans   &trans   &trans   &bt BT_SEL 0   &trans   &trans   &trans   &trans   &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │BOOTLOADER│ LINUX-TOG│          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│  none    │
          &bootloader   &tog 6   &trans   &trans   &bt BT_SEL 1   &trans   &trans   &trans   &trans   &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │  none    │
            &trans   &trans   &trans   &bt BT_CLR   &bt BT_SEL 2   &trans   &trans   &trans   &trans   &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                            &trans      &trans      &trans         &trans      &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        lin_overlay {
            display-name = "lnx";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │          │   │          │          │          │          │          │          │
            &kp Q   &kp W   &kp F   &kp P   &kp B   &kp J   &kp L   &kp U   &kp Y   &m_u
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │          │   │          │          │          │          │          │          │
        &hml LSHFT A   &hml LCTRL R   &hml LALT S   &hml LGUI T   &kp G   &kp M   &hmr LGUI N   &hmr LALT E   &hmr LCTRL I   &hmr LSHFT O
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │          │   │          │          │          │          │          │          │
            &kp Z   &kp X   &kp C   &kp D   &kp V   &kp K   &kp H   &kp COMMA   &kp DOT   &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                             &mo 10    &lt 7 SPACE  &kp ENTER    MAGIC_SHIFT  &lt 8 BSPC  &mo 9
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        nav_lin {
            display-name = "Nav";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  none    │  ESC     │ TAB BACK │ TAB FWD  │ MUTE     │ ZOOM IN  │   │  ZOOM OUT│  HOME    │ PAGE DN  │ PAGE UP  │ END      │  none    │
            &kp ESC   &tab_back   &tab_forward   &kp C_MUTE   &zoom_in_lin   &zoom_out_lin   &kp HOME   &kp PG_DN   &kp PG_UP   &kp END
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │ ALT-TAB  │  TAB     | COPY     │ PASTE    | VOL_UP   │   │ CAPSLOCK |  LEFT    │ DOWN     │ UP       │ RIGHT    │  none    │
            &swapper_lin   &kp TAB   &kp LC(C)   &kp LC(V)   &kp C_VOL_UP   &kp CAPS   &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │ HOME     │ END      │  CUT     │  UNDO    │ VOL_DOWN │   │ lang_swap│  DEL     | SEL WORD | JUMP WORD| WORD DEL │  none    │
            &kp HOME   &kp END   &kp LC(X)   &kp LC(Z)   &kp C_VOL_DN   &lang_swap   &kp DEL   &sel_word_lin   &jump_word_lin   &word_del_lin
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                            &mo 10       &trans      &kp ENTER    MAGIC_SHIFT  &lt 8 BSPC  &mo 9
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        
        sym_lin {
            display-name = "Sym";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  none    │  !       │  [       │  {       │  (       │  ?       │   │  @       │  )       │  }       │  ]       │  '       │  none    │
           &kp EXCL   &kp LBKT   &kp LBRC   &kp LPAR   &kp QMARK   &kp AT_SIGN   &kp RPAR   &kp RBRC   &kp RBKT   &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  ^       │  =       │  _       │  $       │  *       │   │  %       │  :       │  ;       │  &       │  "       │  none    │
           &kp CARET   &kp EQUAL   &kp UNDER   &kp DLLR   &kp ASTRK   &kp PRCNT   &kp COLON   &kp SEMI   &kp AMPS   &kp DQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  <       │  |       │  -       │  >       │  /       │   │  \       │  #       │  +       │  ~       │  `       │  none    │
            &kp LT   &kp PIPE   &kp MINUS   &kp GT   &kp SLASH   &kp BSLH   &kp HASH   &kp PLUS   &kp TILDE   &kp GRAVE
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                            &mo 10       &lt 7 SPACE &kp ENTER    MAGIC_SHIFT &trans      &mo 9
        //                                 ╰──────────╴──────────╴──────────╯   ╰──────────╴──────────╴──────────╯
            >;
        };

        num_lin {
            display-name = "Num";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  none    │  7       │  5       │  3       │  1       │  9       │   │  8       │  0       │  2       │  4       │  6       │  none    │
            &kp N7   &kp N5   &kp N3   &kp N1   &kp N9   &kp N8   &kp N0   &kp N2   &kp N4   &kp N6
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  ä       │  ,       │  .       │  -       │  F11     │   │  F10     │  BSPC    │  .       │  ,       │  ö       │  none    │
            &de_ae   &kp COMMA   &kp DOT   &kp MINUS   &kp F11   &kp F10   &kp BSPC   &kp DOT   &kp COMMA   &de_oe
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  none    │  F7      │  F5      │  F3      │ F1       │  F9      │   │  F8      │  F12     │  F2      │  F4      │  F6      │  none    │
            &kp F7   &kp F5   &kp F3   &kp F1   &kp F9   &kp F8   &kp F12   &kp F2   &kp F4   &kp F6
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                                            &mo 10       &trans      &to 5            MAGIC_SHIFT &trans      &mo 9
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };


        mouse_lin {
            display-name = "MOU";
            bindings = <
                &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
                &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
                &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
                            &mkp MCLK &mkp LCLK &mkp RCLK        &trans      &trans     &trans
            >;
        };

        extra_3 {
                status = "reserved";
        };
    };

};
